{% extends 'userena_base.html' %}

{% block content %}
	<div class="row">
		<div class="col-md-offset-2 col-md-8 text-center">
			<h1 style="font-size: 10em; color: #39b3d7;">403</h1>
			<br>
			<h1 class="">Access Denied</h1>
			<br>
			<p><h4>You don't have the permission to view this page. Use your browsers <b>Back</b> button to navigate to the page you have previously come from.</p></h4>
			<p><b>Or you could just press this neat little button.</b></p>
			<br>
			<br>
			<a href="/" class="btn btn-lg btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
		</div>
	</div>
{% endblock %}