{% extends 'userena_base.html' %}

{% block content %}
	<div class="row">
		<div class="col-md-offset-2 col-md-8 text-center">
			<h1 style="font-size: 10em; color: #39b3d7;">500</h1>
			<br>
			<h1 class="">Page unavailable</h1>
			<br>
			<span>
			    <h4>
			    	Sorry, but the requested page is unavailable due to a server hiccup. Our engineers have been notified, so check back later.
			    </h4>				
			</span>
			<br>
			<br>
			<a href="/" class="btn btn-lg btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
		</div>
	</div>
{% endblock %}